.stories-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 20px;
  column-gap: 20px;
  row-gap: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85vh;
}

.story-wrapper {
  display: flex;
  z-index: 5;
}

.vertical {
  flex-direction: column;
}
.horizontal {
  flex-direction: row;
}

.horizontal .story-details {
  padding: 0px 0px 0px 20px;
}

.story-image {
  width: 250px;
  height: 175px;
  border-radius: 10px;
}

.story-details {
  width: 250px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.vertical .story-details {
  height: 200px;
}
.story-title {
  margin: 5px 0px;
  font-size: 16px;
  opacity: 0.7;
  font-weight: 900;
}
.story-country {
  opacity: 0.5;
  font-weight: 600;
}

.story-content {
  opacity: 0.6;
  font-weight: 600;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.add-button {
  position: fixed;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.4);
  right: 30px;
  bottom: 30px;
  background-color: white;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}
.add-button:hover {
  cursor: pointer;
  background-color: rgb(255, 226, 226);
}
.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 11px;
}

.time-wrapper {
  margin: 10px 0px;
}
.story-time {
  font-weight: 700;
  opacity: 0.5;
  font-size: 11px;
  margin: 0px 0px 0px 10px;
}

.story-country,
.story-content {
  margin: 5px 0px;
}

.show-more-btn {
  color: #cf726a;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  display: inline;
}

.show-more-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.more-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-content {
  background-color: white;
  width: 40%;
  max-height: 80%;
  z-index: 99;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.modal-content .story-image {
  width: 60%;
  height: auto;
}

.modal-content .story-details {
  height: auto;
  width: 80%;
  padding-bottom: 20px;
}

.modal-content .story-content {
  display: inherit;
}

.cross-btn {
  align-self: flex-end;
  padding: 15px;
  font-weight: 700;
}

.cross-btn:hover {
  cursor: pointer;
}

.no-stories-area {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cf726a;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .horizontal {
    flex-direction: column;
  }
  .horizontal .story-details {
    padding-left: 0;
  }
}
